
<hub>
	<type>local</type>
	<config>
	</config>
	<!--
	<type>lan</type>
	<config>
		<port>3212</port>
		<node>server</node>
	</config>
	-->
</hub>
<interface>
	<type>xmlrpc</type>
	<config>
		<server>
			<port>1924</port>
		</server>
	</config>
</interface>

